.formodal{
    width: "100px";
    border-radius: 10px 10px 10px 10px;
}
.Postbox{
    width:90%;
    height: 80%;
  margin-top: 1px;
  margin-left: 25px;
  border-radius: 15px 15px 15px 15px;
  border-color: #800080;
}
.submitbutton{
  margin-top: 0px; 
margin-inline-start: 55% ;
}