*body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  .tabclass {
    margin-left: 200px;
    margin-top: 50px;
  }
  
  .inputbox textarea {
    width: 60%;
    background-color: white;
    cursor: pointer;
    padding: 10px;
    border-color: black;
  }
  
  .postbox {
    width: 90%;
    padding: 10px;
    background-color: white;
    height: 100px;
  }
  
  .postbuton {
    padding: 5px;
    width: 100px;
    background-color: orange;
    color: white;
    border-radius: 10%;
  }
  .addtask {
    padding: 5px;
    width: auto;
    background-color: orange;
    color: white;
    margin-bottom: 5px;
  }
  
  .taskbox {
    background-color: white;
    padding: 2px;
    border: 2px solid orange;
    margin-left: 12px;
  }
  
  .taskrow {
    height: auto;
  }
  
  .heading {
    font-size: 25px;
    font-weight: bolder;
    background-color: skyblue;
    color: black;
    border: 2px solid black;
  }
  
  .tasklist {
    background-color: lightpink;
    height: 500px;
    border: 2px solid seagreen;
    border-radius: 1%;
    padding: 8px;
  }
  
  .taskname {
    font-size: larger;
    font-weight: 600;
  }
  .progressbutton {
    background-color: aqua;
    color: black;
  }
  .completebutton {
    background-color: palegreen;
    color: black;
  }
  
  .progresslist {
    background-color: aqua;
    height: 500px;
    border: 2px solid seagreen;
    border-radius: 1%;
    padding: 8px;
  }
  .successlist {
    background-color: palegreen;
    height: 500px;
    border: 2px solid seagreen;
    border-radius: 1%;
    padding: 8px;
  }